<div class="container-fluid my-5 p-5">
  <h1 class="text-center my-5 p-5">Welcome user!</h1>
  <div class="container">
    <p class="text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
      laudantium deserunt beatae, totam veritatis, corrupti aut magnam unde
      eligendi provident inventore corporis neque quas similique? Repellat ipsa
      eaque et consequuntur.
    </p>
    <div class="row justify-content-around border-bottom m-5">
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-outline-info btn-lg m-3"
          routerLink="preventive"
        >
          Preventive
        </button>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-outline-info btn-lg m-3"
          routerLink="payment"
        >
          Payment
        </button>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn btn-outline-info btn-lg m-3"
          routerLink="companies"
        >
          Companies
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-end">
        <button
          type="button"
          class="btn btn-outline-warning"
          routerLink="/home"
        >
          Log out
        </button>
      </div>
      <div class="col text-start">
        <button type="button" class="btn btn-danger" routerLink="/home">
          Delete account
        </button>
      </div>
    </div>
  </div>
</div>
