<div class="container-fluid my-5 p-5">
  <h1 class="text-center">Welcome user!</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
    laudantium deserunt beatae, totam veritatis, corrupti aut magnam unde
    eligendi provident inventore corporis neque quas similique? Repellat ipsa
    eaque et consequuntur.
  </p>
  <div class="row justify-content-around">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-info btn-lg">
        Preventive
      </button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-info btn-lg">Payment</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-warning">Log out</button>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto">
      <button type="button" class="btn btn-danger">Delete account</button>
    </div>
  </div>
</div>
